<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Login</p>
    <form action="/dashBoard" method="POST">
        <label>Email</label>
        <input type="text" placeholder="email" value=""  name="email" />
         <label>Password</label>
        <input type="text" placeholder="Password" value=""  name="password" />
        <button type="submit">Login</button>
    </form>
</body>
</html>